<%= form_tag checkin_it_wish_path(wish), remote: true, class: "js-toggler-form unstarred js-star-button" do %>
  <%= button_tag class: "minibutton with-count js-toggler-target star-button", style: "margin-left: 1rem;" do %>
    <span>?&nbsp;愿意帮 Ta 实现</span>
  <% end %>

  <%= link_to UserWish.where(wish_id: wish.id).count, checkin_by_users_wish_path(wish), class: "social-count js-social-count" %>
<% end %>
