<%= link_to spurn_it_wish_path(wish), remote: true, method: :delete, class: "secondary button", id: dom_id(wish, 'got_or_spurn_active') do %>
  <i class="fi-heart red"></i>
  <span>已加到心愿卡</span>
<% end %>
