<ol class="follow-list clearfix">
  <% @users.each do |user| %>
    <li class="follow-list-item">
      <a href="/girish"><img alt="Girish Duvuru" class="gravatar" data-user="112493" height="96" src="https://avatars2.githubusercontent.com/u/112493?v=3&amp;s=192" width="96"></a>
      <div class="follow-list-container">
        <h3 class="follow-list-name"><span class="css-truncate css-truncate-target" title="Girish Duvuru"><a href="/girish"><%= user.username %></a></span></h3>
        <p class="follow-list-info"><span class="octicon octicon-location"></span> <span class="css-truncate css-truncate-target" title="Is from Seattle, WA"><%= time_ago_in_words user.created_at %></span></p>

          <span class="user-following-container js-toggler-container js-social-container ">

        <span class="follow">
          <form accept-charset="UTF-8" action="/users/follow?target=girish" class="js-toggler-form js-follow-button" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="uPBKBoTMGA9h3hrGqQStyPaQISfChN7rmN1sTLU3hrwC5f0OtkoujAKikDvnv2yMXvYq+zhMyTquyiG/jfS9FQ=="></div>
            <button class="minibutton  js-toggler-target" aria-label="Follow this person" title="Follow girish">
              <span class="octicon octicon-person"></span>
              Follow
            </button>
          </form>    
        </span>

        <span class="unfollow">
          <form accept-charset="UTF-8" action="/users/unfollow?target=girish" class="js-toggler-form" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="ToeN7DwXcA/ecp0/bXmbGKEKSRRc2QaJgzrVq03IGVcLLvURO0JszlzP7vg4ZdiE0Ikc1Zgw8f7UaplAAK+G/w=="></div>
            <button class="minibutton js-toggler-target js-unfollow-button" aria-label="Unfollow this person" title="Unfollow girish">
              <span class="octicon octicon-person"></span>
              Unfollow
            </button>
          </form>    
        </span>
      </span>

      </div>
    </li>
  <% end %>
</ol>
