<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_catalog.name %>
</p>

<%= link_to 'Edit', edit_admin_catalog_path(@admin_catalog) %> |
<%= link_to 'Back', admin_catalogs_path %>
