<% @catalogs.each_slice(3) do |catalogs| %>
  <div class="row" data-equalizer>
    <% catalogs.each do |catalog| %>
      <div class="small-12 large-4 columns" data-equalizer-watch>
        <i class="fi-credit-card icon"></i>
        <h5>
          <%= link_to catalog.name, catalog %>
        </h5>

        <% if can? :update, catalog %>
          <%= link_to 'Edit', edit_catalog_path(catalog) %>
        <% end %>
        <% if can? :delete, catalog %>
          <%= link_to 'Destroy', catalog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

        <hr>
        <p><%= catalog.info %></p>
      </div>
    <% end %>
  </div>
<% end %>
