<% set_meta_tags :title => @catalog.name %>

<p>
  <%= @catalog.name %>
</p>

<p>
  <%= @catalog.info %>
</p>

<% @topics.each do |topic| %>

<% end %>

<% if can? :update, @catalog %>
  <%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<% end %>