<div style="margin-bottom: 1%;">
    <%= link_to image_tag(activity.owner.avatar_url(:tiny), class: 'avatar'), activity.owner %>
<%= link_to activity.owner.username, activity.owner %> 收藏了拼单

<% if activity.recipient %>
  <%= link_to activity.recipient.title, activity.recipient %>
<% else %>
  已经被删除
<% end %>
</div>
