<div class="large-9 columns">
  <div class="row large-9 columns margin-left-10 margin-top-20">
    <%= render 'form' %>
  </div>
</div>

<div class="large-3 columns margin-top-20 select-category-bar">
  <h4 style="text-align: center;">发单规则</h4>
  <hr/>
  <ol style="font-size: 14px;">
    <li>禁止发布各种广告和违法内容；</li>
    <li>拼单内容必须有详细拼单产品描述和价格构成，还要说明未达到拼单数量的处理方法，否则视为无效拼单；</li>
    <li>拼单贴可咨询讨论，但禁止互相攻击和谩骂，如果提醒后，仍不悔改，将给予禁言处理；</li>
    <li>拼单贴在交易过程中不能清空相关内容，否则将给予封号处理。</li>
    <!-- <h5>请选择：</h5> -->

    <%#= render 'select_category' %>
  </ol>
</div>
