<div class="large-9 columns">
	<div class="row large-9 columns margin-left-10 margin-top-20">
  	<%= render 'form' %>
  </div>
</div>

<div class="large-2 columns margin-top-20 select-category-bar">
  <div>
    <h5>请选择：</h5>

    <%= render 'select_category' %>
  </div>
</div>