<div style="margin-bottom: 1%;">
<% if activity.trackable %>
  <div class="activity">
    <%= image_tag activity.owner.avatar_url(:mini), class: "super_tiny_avatar avatar" %>
    <%= link_to activity.owner.username, activity.owner if activity.owner %>

    新建了<%= category_text_for activity.trackable %>：
    <%= link_to activity.trackable.title, activity.trackable %>
  </div>
<% end %>
</div>
