<div class="row">
  <div class="large-12 columns" style="overflow: visible">
    <ul class="polaroids large-block-grid-4 small-block-grid-2">
      <% if locals[:relation] %>
        <% locals[:collection].each do |item| %>
          <li>
            <%= link_to item.send(locals[:relation]), title: item.send(locals[:relation]).username do %>
              <%= image_tag item.send(locals[:relation]).avatar_url %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <% locals[:collection].each do |user| %>
          <li>
            <%= link_to user, title: user.username do %>
              <%= image_tag user.avatar_url %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
