<%= link_to user, target: "_blank", title: user.username do %>
  <div class="portrait-cover"></div>
  <%= image_tag user.avatar_url, alt: user.username %>
<% end %>

<p class="portraid-desc">往届毕业学员</p>

<p class="portraid-uname">
  <%= link_to truncate(user.username, length: 15), user, target: "_blank" %>
</p>