<aside class="large-3 columns">

  <h5>分类导航</h5>
  <ul class="side-nav">
    <% @catalogs.each do |catalog| %>
      <li>
        <%= link_to catalog.name, catalog %>
      </li>
    <% end %>
  </ul>

  <div class="panel">
    <h5>Featured</h5>
    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
    <a href="#">Read More →</a>
  </div>

</aside>

<div class="large-9 columns" role="content">
  <div class="row" data-equalizer="">
    <% @users.each do |user| %>
      <div class="medium-3 columns">
        <div class="panel" data-equalizer-watch="" style="height: 295px;">
          <h3><%= user.username %></h3>
          <%= user.email %>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @users %>

  <article>
    <h3><a href="#">Blog Post Title</a></h3>
    <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

    <div class="row">
      <div class="large-6 columns">
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
        <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
      </div>
      <div class="large-6 columns">
        <img src="http://placehold.it/400x240&amp;text=[img]">
      </div>
    </div>

    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
  </article>
</div>