<div class="raw">

  <div class="large-3 columns user-info-card">
    <h4>free</h4>
    <div class="zm-profile-header-main">
      <img src="http://qzapp.qlogo.cn/qzapp/101167045/E69931C5BC080FB68BCD304DD817DCC8/100">
      <div class="zm-follow-header-info">
        <div class="clearfix">
          <div class="follow-num float-left margin-left-10">
            <span class="font-follow">关注了</span> 
            <strong>0人</strong>
          </div>
          <div class="follow-num float-right margin-right-10">
            <span class="font-follow">粉丝数</span>
            <strong>0人</strong>
          </div>
        </div>
        <div class="edit-user-info">
          <a href="#">编辑我的资料</a>
        </div>
      </div>
      <hr/>
    </div>
    <div class="user-profile-item">
      <p>账号绑定:</p>
      <p>所在城市:
        <span>北京</span>
      </p>
    </div>
    <hr/>
    <div class="font-message pindan-num">
      发起了 <a href="#">0 个拼单</a>
      参加了 <a href="#">0 个拼单</a>
    </div>
    <hr/>
    <div class="font-message user-resume">
      个人介绍: 
      <i>这家伙很懒,什么也没留下~</i>
    </div>
  </div>

  <div class="large-7 columns user-info-state">
    <div class="zm-profile-section-head">
      <h3>最新动态</h3>  
    </div>
    <hr/>
    <div class="zm-profile-section-content">
      暂时没有动态
    </div>
  </div>
</div>
