<% if user_signed_in? %>
  <% apply = Apply.where(mentor_id: user.id, user_id: current_user.id).last %>
<% else %>
  <% apply = nil %>
<% end %>

<% if user_signed_in? && (current_user.teachers_ids.include? user.id) %>
  <a href="javascript:void(0);" class="fancy radius button tiny">我的导师</a>
<% elsif apply && apply.pending? %>
  <a href="javascript:void(0);" class="fancy radius button tiny">已经拜师</a>
<% elsif apply && apply.refused? %>
  <a href="javascript:void(0);" class="fancy radius button tiny">已被拒绝</a>
<% else %>
  <a href="javascript:void(0);" data-reveal-id="create_apply" class="fancy radius button tiny" id="new_apply">我要拜师</a>

  <div id="create_apply" class="reveal-modal" data-reveal>
    <%= render 'applies/form', user: user %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
<% end %>
