<p id="notice"><%= notice %></p>


<h4>课程列表</h4>


<ul>
  <% @sections.each do |section| %>
    <li>
      <%= link_to section.heading, section %>

      <% if can? :update, section %>
        <%= link_to 'Edit', edit_section_path(section) %>
      <% end %>

      <% if can? :delete, section %>
        <%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

   
            