<div class="large-7 columns large-centered margin-content">
    <% content = "Itaque dolore quia debitis fugiat unde.。”

    关于加盟说：

    1. Nulla qui inventore quo ex consequatur. Et non possimus quisquam et consectetur non.
    2. Culpa voluptatibus dolorem dolorum illum est reiciendis. Eum ut assumenda rem in. Fugiat voluptas ut.
    3. Voluptatem labore minima sed omnis deserunt. Iste saepe distinctio animi. Nisi et deserunt non omnis itaque pariatur numquam. Consequatur magnam placeat deserunt.

    **Eius quam quisquam non suscipit dignissimos. Harum dolorum voluptas recusandae enim quia.**" %>

    <%= raw markdown_for content %>
</div>