<div class="large-7 columns large-centered margin-content">
    <% content = "

# 关于加盟说

痛点：想投资自营开店，但没有任何经验；想加盟一些项目，却又怕上当受骗；

### 同行经验

问答式互助社交平台，用户互助讨论开店和加盟问题，网站也会邀请行业专家提供相关指导；

### 加盟保障

通过评测向加盟者推荐好的加盟连锁，并监督整个加盟和运作流程，可以像支付宝一样对加盟者的权益进行保障；

### 店铺选址

提供店铺选址专业意见，汇集店铺出租和转让信息；

### 门店装修

共享装修经验，推荐专业装修平台，保障加盟者权益；

### 协助经营

对加盟者进行相关的培训，并协助经营推广，保证加盟者收益；

### 同行联盟

同行联盟，汇总相同货源需求，集中采购，统一供应，节约成本；

### 营销联盟

建立异业联盟和广告联盟，分享客户流量，提高加盟者营收。

----

参与加盟说: [shixian.com/projects/2127](http://shixian.com/projects/2127)

" %>

    <%= raw markdown_for content %>
</div>
