<div class="large-7 columns large-centered margin-content">
    <% content = "发起拼单流程
本站发单免费，而且暂时不提供金额担保交易，请自行提供第三方金额担保

1. 填写拼单信息 主要内容是：填写标题、拼单方式、发票、截止日期、手续费、拼单链接和拼单说明等信息； 拼单指定收货地址，是指当发单者只想在一个区域发起拼单时，可通过指定跟单人的收货地址来实现；比如想在北京发起拼单，可指定拼单收货地址为北京的才可以参与； 发货地址，对于海淘拼单，是指海淘拼单国内的转运地址；对于批发拼单和定做拼单，是指订单的发货地址。 2. 等待大家参与拼单 跟单者会根据自己的喜好参与相应的拼单。 3. 确认跟单者要购买的商品 发单者要去检查跟单者要购买的商品是否在拼单范围内，如果不是，请跟单者及时更换。如果是，请尽快确定。 4. 拼单下单 达到拼单指定的要求或者拼单时间截止后，发单者要及时通知跟单者下单购买。 5. 收货点评 发单者要跟进拼单成员的收货情况，邀请大家对产品和服务进行点评
参加拼单流程
本站发单免费, 而且暂时不提供金额担保交易，请自行提供第三方金额担保

1. 了解购买的商品 根据发单者提供的说明和链接，去了解拼单的商品；也可以在拼单贴里直接咨询发单者和其他跟单者。 2. 填写商品详细信息 填写直接要购买的商品详细信息，并在拼单贴里点击提交。 3. 等待发单者确定 发单者会检查跟单者要购买的商品是否在拼单范围内，如果不是，请跟单者及时更换。如果是，请尽快确定。 4. 拼单下单 达到拼单指定的要求或者拼单时间截止后，发单者会及时通知跟单者下单购买，请跟单者及时查看拼单情况和个人消息。 5. 收货点评 跟单者收到货物后，可在第三方平台点评，也可以在对产品和服务进行点评。" %>

    <%= raw markdown_for content %>
</div>