<style>
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.75em;
}
</style>
<div class="columns large-8 large-centered" style="margin-top: 30px;">
<% content = "

# 拼单帮助

## 盟主发起拼单流程

平台发单是完全免费的；只需要注册平台账号，完善个人信息即可。

1. 盟主填写拼单信息
2. 等待盟员参加
3. 确认盟员要购买的商品	
4. 拼单进度
5. 设置结算信息
6. 完成

注：拼单平台不提供金额担保交易，请自行提供第三方金额担保。

## 盟员参加拼单流程

平台跟单是完全免费的；只需要注册平台账号，完善个人信息即可。

1. 盟员要了解购买的商品
2. 查找拼单项目
3. 填写商品详细信息	
4. 等待盟主确定
5. 查看商品进度
6. 结算完成

注：拼单平台不提供交易担保，强烈推荐使用第三方金额担保交易平台。

"%>

	<%= raw markdown_for content %>
</div>