<!-- Main Blog Content -->
<div class="large-9 columns" role="content">
  <article>
    <h1 class="panel-white"><a href="#">寻找可以依赖的导师</a></h1>
    <h2 class="panel-white"><a href="#">Found Mentor</a></h2>

    <div class="row">
      <div class="large-6 columns">
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
        <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
      </div>
      <div class="large-6 columns">
        <a href="#"><%= image_tag 'u4.png' %></a>
      </div>
    </div>

    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
  </article>
</div>

<!-- End Main Content -->


<!-- Sidebar -->

<aside class="large-3 columns">
  <ul class="disc panel-white">
    <li><h3>每个人都在建造自己的生活~~</h3></li>
    <li><h3>很多前人成长的经历对于你应该很有借鉴价值~~</h3></li>
    <li><h3>Mentor会给你他的经验~~他的建议~</h3></li>
    <li><h3>是你人生中的贵人~~~</h3></li>
   </ul>
</aside>

<!-- End Sidebar -->
