<p id="notice"><%= notice %></p>

<% @subjects.each do |subject| %>
  <section>
    <div class="large-12 columns centered-text">
      <h2><%= link_to subject.title, subject %></h2>
    </div>

    <div class="small-1 large-1 columns testimonial">
      <div class="quote-marks">“</div>
    </div>

    <div class="small-11 large-11 columns testimonial">
      <div class="quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.</p>
      </div>
      <div class="student">
        <div class="photo"> </div>
        <p>John Doe</p>
        <p>Important person, some Company</p>
      </div>
    </div>
  </section>
<% end %>
