<div class="activity">
  <%= image_tag activity.owner.avatar_url(:mini), class: "super_tiny_avatar avatar" %>
  <%= link_to activity.owner.username, activity.owner if activity.owner %>

  同意了

  <% if activity.recipient %>
    <%= link_to activity.recipient.username, activity.recipient %>
  <% else %>
    which has since been removed
  <% end %>

  的导师申请。
</div>
