<div class="field">
  <div class="row collapse">
    <div class="small-3 large-1 columns">
      <span class="prefix head_two">H2</span>
      <%= f.hidden_field :head, id: "section_head" %>
    </div>

    <div class="small-9 large-11 columns">
      <%= f.text_field :heading, placeholder: "课程标题" %>
    </div>
  </div>
</div>

<div class="field">
  <%= f.text_area :description, rows: 5, placeholder: "课程简述" %>
</div>
