<p id="notice"><%= notice %></p>

<h4>课程大纲</h4>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>

      <% if can? :update, post %>
        <%= link_to 'Edit', edit_post_path(post) %>
      <% end %>

      <% if can? :delete, post %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>
