<p id="notice"><%= notice %></p>

<h4>课程大纲</h4>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>

      <% if can? :update, post %>
        <%= link_to 'Edit', edit_post_path(post) %>
      <% end %>

      <% if can? :delete, post %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="row">
<div class="large-12 columns centered-text">
<h2>Let Us Help You</h2>
<h4 class="subheader">Where ever you are, count on us</h4>
<p>We've made Foundation the lightest responsive framework so that it's fast and easy to use. But we understand that sometimes folks get stuck. That's why we're available to answer your questions and you can hit us up on any of these channels.</p>
</div>
</div>

<hr>

<div class="row centered-text">
<div class="medium-4 columns supporticons">
<a href="certification.html">
</a>
<h3>Foundation Certification</h3>
<p>Whether you’re a software engineer, Web designer, or a student, Foundation certification will open opportunities for you on the responsive web.</p>
<a href="certification.html">Get Certified →</a><br><br><br>
<hr class="show-for-small-only">
</div>
<div class="medium-4 columns supporticons">
<a href="business-support.html">
</a>
<h3>Foundation Support</h3>
<p>We know how important it is for you to get the answers. We have a knowlegeable team ready to help you get answers to your questions.</p>
<a href="business-support.html">Learn More →</a><br><br><br>
<hr class="show-for-small-only">
</div>
<div class="medium-4 columns supporticons">
<a href="engineering-studios.html">
</a>
<h3>Engineering Studios</h3>
<p>If you need something built with Foundation, we’re here to help. Our Engineering Studios is here to help you develop your next responsive project.</p>
<a href="http://foundation.zurb.com/business/engineering-studios.html">Let Us Help You →</a><br><br><br>
<hr class="show-for-small-only">
</div>
</div>


<div class="row centered-text">
<div class="medium-4 columns supporticons">
<a href="certification.html">
</a>
<h3>Foundation Certification</h3>
<p>Whether you’re a software engineer, Web designer, or a student, Foundation certification will open opportunities for you on the responsive web.Whether you’re a software engineer, Web designer, or a student, Foundation certification will open opportunities for you on the responsive web.Whether you’re a software engineer, Web designer, or a student, Foundation certification will open opportunities for you on the responsive web.</p>
<a href="certification.html">Get Certified →</a><br><br><br>
<hr class="show-for-small-only">
</div>
<div class="medium-4 columns supporticons">
<a href="business-support.html">
</a>
<h3>Foundation Support</h3>
<p>We know how important it is for you to get the answers. We have a knowlegeable team ready to help you get answers to your questions.</p>
<a href="business-support.html">Learn More →</a><br><br><br>
<hr class="show-for-small-only">
</div>
<div class="medium-4 columns supporticons">
<a href="engineering-studios.html">
</a>
<h3>Engineering Studios</h3>
<p>If you need something built with Foundation, we’re here to help. Our Engineering Studios is here to help you develop your next responsive project.</p>
<a href="http://foundation.zurb.com/business/engineering-studios.html">Let Us Help You →</a><br><br><br>
<hr class="show-for-small-only">
</div>
</div>


<div class="row centered-text">
<div class="medium-4 columns supporticons">
<a href="certification.html">
</a>
<h3>Foundation Certification</h3>
<p>Whether you’re a software engineer, Web designer, or a student, Foundation certification will open opportunities for you on the responsive web.</p>
<a href="certification.html">Get Certified →</a><br><br><br>
<hr class="show-for-small-only">
</div>
<div class="medium-4 columns supporticons">
<a href="business-support.html">
</a>
<h3>Foundation Support</h3>
<p>We know how important it is for you to get the answers. We have a knowlegeable team ready to help you get answers to your questions.
We know how important it is for you to get the answers. We have a knowlegeable team ready to help you get answers to your questions.
We know how important it is for you to get the answers. We have a knowlegeable team ready to help you get answers to your questions.</p>
<a href="business-support.html">Learn More →</a><br><br><br>
<hr class="show-for-small-only">
</div>
<div class="medium-4 columns supporticons">
<a href="engineering-studios.html">
</a>
<h3>Engineering Studios</h3>
<p>If you need something built with Foundation, we’re here to help. Our Engineering Studios is here to help you develop your next responsive project.</p>
<a href="http://foundation.zurb.com/business/engineering-studios.html">Let Us Help You →</a><br><br><br>
<hr class="show-for-small-only">
</div>
</div>

