/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

.vertical {
  height: 100px;
  line-height: 100px;/*值等于元素高度的值*/
}

a.no_background{
  background: #333333;
}

/* Begin From Github */
.minibutton {
position: relative;
display: inline-block;
padding: 7px 12px;
font-size: 13px;
font-weight: bold;
color: #333;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-color: #eee;
background-image: -webkit-linear-gradient(#fcfcfc, #eee);
background-image: linear-gradient(#fcfcfc, #eee);
background-repeat: repeat-x;
border: 1px solid #d5d5d5;
border-radius: 3px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}

.minibutton {
padding: 0 10px;
line-height: 24px;
}

.button.with-count, .minibutton.with-count {
float: left;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}

.social-count {
float: left;
padding: 0 7px;
font-size: 11px;
font-weight: bold;
line-height: 24px;
color: #333;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ddd;
border-left: 0;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
/* End From Github */