/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require 'bootstrap-markdown.min'
 *= require 'wmd/wmd'
 *= require social-share-button
 *= require pikaday
 *= require_tree .
 *= require_self

 */

a.no_background {
  background: #333333;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.small-img {
  width: 40px;
  height: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.display-block {
  display: block;
}

.margin-left-10 {
  margin-left: 10%;
}

.margin-right-10 {
  margin-right: 10%;
}

.medium-img {
  width: 80px;
  height: 80px;
}

.header-body {
  height: 60px;
  margin-top: 10px;
}

.header-logo {
  background-size: 80px 60px;
  width: 80px;
  height: 60px;
  cursor: pointer;
  position: absolute;
}

.header-logo img {
  height: 60px;
}

/* Begin From Github */
.minibutton {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.help {
  font-size: 20px;
}

.minibutton {
  padding: 0 10px;
  line-height: 24px;
}

.button.with-count, .minibutton.with-count {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.social-count {
  float: left;
  padding: 0 7px;
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.minibutton:hover{
/*  border-color:#518cc6 #518cc6 #2a65a0;
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
  text-decoration:none;
  background-color:#3072b3;
  background-image:-webkit-linear-gradient(#599bdc, #3072b3);
  background-image:linear-gradient(#599bdc, #3072b3);
  background-repeat:repeat-x;*/

  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;
  border-color: #ccc;
}
/* End From Github */

/* For code end */
pre { margin-bottom: 15px; }

/* Begin Tags */
p.tags {
  margin-top:2px !important;
  margin-bottom:5px !important;
  line-height: 28px;
  a {
    @media screen and (min-width:767px) {
      margin: emCalc(0px) emCalc(5px) emCalc(15px) 0 !important;
    }

    @media screen and (min-width:0px) and (max-width:767px) {
      margin: emCalc(15px) emCalc(5px) emCalc(15px) 0 !important;
    }

  }
}

.tag-container {
  line-height: 28px !important;
  word-wrap: normal !important;
  display: inline;
  padding: 4px 5px !important;
  margin: 5px 5px 5px 0 !important;
  color: #999 !important;
  font-size: 12px;
  border: #ccc 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0 5px 10px 0;
}
/* End Tags */

/* For large icon */
.icon-container .mega-octicon {
  line-height: 68px;
}
.mega-octicon {
  font: normal normal 36px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

/* For catalog index icon */
.catalog_icon{
  font-size: 40px;
  color: #ccc;
}

/* pagination */
.pagination-centered {
  margin-top: 1.25rem;
}

/* Begin scoll to top */
/* http://www.webtipblog.com/adding-scroll-top-button-website/ */
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
    background-color: #bbb;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 3rem;
  bottom: 4.0rem;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
/* End scoll to top */

.h3_it * {
  font-size: 1.5rem;
}