.footer {
  color: #888 !important
}

.footer a:link, .footer a:visited {
  color: #888 !important
}

table {
    width: 100%
}

table td {
    height: 35px
}

table .c1 {
    width: 105px
}

table .exp-num {
    width: 55px
}
