.pindan-message-detail {
  .pindan-message-detail-info{
    position: relative;
    left: 2%;
    top: 3px;
  }
}

.pindan-message-detail-info {
  p {
    font-size: 12px;
    margin-bottom: 1%;
    line-height: 1;
  }
  p:first-child {
    font-size: 15px;
  }
}