// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-background{
  // background-image: url(/assets/u2.jpg);
}

.row.full-width {
  width: 100%;
  max-width: 100%;
}

.panel-white{
  color: white;
}

.panel-white li{
  color: white;
}

.panel-white li h3{
  color: white;
}

.panel-white li a{
  color: white;
}

// Aplay Students

/* Styles for search results */
.results {
  margin-top: 50px;
}
.results .search-results {
  margin-top: 40px;
  margin-bottom: 20px;
}
.results img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

// index signin

#signin-form {
  margin-left: 6rem;
}
#label-login {
  margin-left: 10rem;
}
#label-password {
  margin-left: 0.5rem;
}
.prefix.login, .prefix.password {
  color: #6CB683;
}

.header-nav li {
  margin-right: 20px;
  margin-top: 18px;
}

.header-nav a {
  color: black;
}

.header-nav .header-login {
  font-size: 13px;
}

.header-nav .post-pindan {
  background-color: rgb(235, 130, 59);
  padding: 8px 12px;
  color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

.header-nav .qq_logo {
  background: image-url('qq_login.png') no-repeat 0 0;
  position: relative;
  left: 20px;
}

.pindan-sub-nav {
  margin: 60px auto;
  text-align: center;
}

.pindan-sub-nav .circle-list-card {
    text-align: left;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
    border-radius: 3px;

    display: inline-block;
    width: 200px;
    height: auto;
    padding: 0 16px 20px;
    margin: 0 30px 10px;


  .floating-number {
      font-size: 42px;
      font-weight: 600;
      color: #2475D1;
      font-style: italic;
      text-align: center;
      background: #FFF;
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px;
      border-radius: 800px;

      display: block;
      float: left;
      width: 68px;
      height: 68px;
      margin-top: -34px;
    //   -webkit-transform: translateY(-50%);
  }
}

.circle-list-card .circle-list-card-header {
    font-size: 26px;
    line-height: 1.15em;
    margin: 50px 0 20px;
}

.circle-list-card .circle-list-card-body {
  // text-align: center;
  margin: 0;
}

.circle-list-card-body li {
  display: block;
  font-size: 18px;
  padding: 0 0 0 10px;
  margin-top: 10px;
  // margin-top: 10px;
  i {
      color: #2475D1;
      margin-right: 14px;
  }
}

.circle-list-card-body a {
  color: black;
  line-height: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif;
}

.circle-list-card-body a:hover {
  color: red;
}

.newest-pindan-info {
  width: 90%;
  // height: 800px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid gba(222, 222, 222);
  // background-color: rgb(231, 243, 244);
}

.newest-pindan-kinds {
  width: 30%;
  float: left;
}

.newest-pindan-body {
  // width: 70%;
  // float: right;
  // min-height: 900px;
  padding: 10px 5px;
  ul {
      margin: 0;
  }
}

.newest-pindan-kinds img {
  padding: 6px;
  width: 97%;
  height: 20%;
}

.newest-pindan-list li {
    background: none;
    display: block;
    padding: 10px;
    margin: 0;

    .newest-pindan-list-item-inside-wrapper {
        background: #FFF;
        padding: 10px;
        border: 1px solid #DDD;
    }

    .heading-area {
        img.avatar {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 60%;
            -webkit-border-radius: 60%;
        }
        .order-title {
            font-size: 20px;
            font-weight: 300;
            color: #505050;
            display: inline-block;
            padding: 0 0 0 10px;
            a {
                color: #088AED;
                &:hover {
                    color: #0670C0;
                }
            }
        }
    }

    .content-area-1 {
        // padding-top: 10px;
        padding-left: 55px;
    }
}

.tag-list {
    span {
        color: #0073AD;
        line-height: 1.4em;
        background: rgba(240,250,255,0.54);
        border: 1px solid rgba(73,143,225,0.11);
        border-radius: 3px;

        display: inline-block;
        padding: 2px 8px;
        margin: 0 6px 6px 0;
    }
}

.newest-pindan-list .list-username {
  position: relative;
  top: -20px;
  left: 7px;
}

.newest-pindan-list .pindan-num {
  padding: 3px 14px;
  background-color: rgb(148, 204, 221);
  color: white;
  border-radius: 5px;
}

.newest-pindan-list .pindan-title {
  position: relative;
  top: -20px;
  left: 70px;
}

.newest-pindan-list .pindan-title a {
  color: rgb(148, 204, 221);
}

.newest-pindan-kinds .newest-pindan-kind-list {
  margin-top: 50px;
  margin-right: 40px;
}

.newest-pindan-kind-list li {
  padding: 5px;
  margin-left: 8px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.newest-pindan-kind-list li a {
  color: black;
}

.top-bar-section .left li {
  margin-left: 100px;
  font-size: 20px;
}

.top-bar-section .left li a {
  font-size: 16px;
  // color: rgb(240, 65, 36);
}

.top-bar-section .left li a:hover {
  color: #eee;
}

.top-bar-section .right li a {
  font-size: 17px;
}

.top-bar-section ul li > a {
  // font-weight: bold;
  padding: 5px 0 12px 0.9375rem;
}

.top-bar-section ul li > a:hover {
  color: #eee;
}

.max-width-600px {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.index-search-input {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px inset;
}

// Contact page.
.thanks-feedback {
  margin-top: 2rem;
}
