// Begin topic index
.centered-text {
  display: inherit;
  text-align: center;
}

.quote-marks {
  font-size: 100px;
  font-family: Garamond;
  color: #777;
}
// End topic index

hr.dashed { border-style: dashed; }
