// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box-border{
  -moz-box-shadow:0px 0px 1px #333333;
  -webkit-box-shadow:0px 0px 1px #333333;
  box-shadow:0px 0px 1px #333333;
}

.border-line {
  border: 1px solid rgb(172,172,172);
}

.font-message {
  font-weight: 400;
  font-size: 15px;
}

.a-hover-underline {
  text-decoration: underline;
}

.main-border-info {
  margin-top: 20px;
  border: 1px solid #ddd;
}

.mini_avatar{
  width: 32px;
  height: 32px;
}

.tiny_avatar{
  width: 42px;
  height: 42px;
}

.super_tiny_avatar{
  width: 20px;
  height: 20px;
}

.thumb_avatar{
  width: 102px;
  height: 102px;
}

// Begin users index //

.item-wrapper {
  padding: 10px;
  border: 2px solid #efefef;
  border-radius: 7px;
  margin-top: 25px;
}
.item-wrapper p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}
.item-wrapper:hover .img-wrapper img {
  // -webkit-filter: grayscale(0);
}
.item-wrapper:hover .img-wrapper .add-to-cart {
  bottom: 0;
}

.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.img-wrapper .add-to-cart {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #333;
  padding: 16px 8px;
  bottom: -50px;
  position: absolute;
  z-index: 2;
  color: #fff;
  margin: 0 auto;
  border: none;
  box-shadow: none;
}
.img-wrapper .add-to-cart:hover {
  background-color: #008cba;
}
.img-wrapper img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  // -webkit-filter: grayscale(1);
  width: 100%;
}

// End users index //

.devise_logo {
  width: 100px;
  height: 41px;
}

// Begin pending_apply_students page
.google.button {
  padding: 6px 10px;
  -webkit-border-radius: 2px 2px;
  border: solid 1px rgb(153, 153, 153);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  line-height: 1;
}

.blue.google.button, .blue.google.button:hover, .blue.google.button:active {
  background-image: -webkit-linear-gradient(top,#fff,#62CAE3);
  background-image: -moz-linear-gradient(top,#fff,#62CAE3);
  background-image: -o-linear-gradient(top,#fff,#62CAE3);
  background-image: linear-gradient(to bottom,#fff,#62CAE3);
  border-color: #62CAE3;
}

.orange.google.button, .orange.google.button:hover, .orange.google.button:active {
  background-image: -webkit-linear-gradient(top,#fff,#F58426);
  background-image: -moz-linear-gradient(top,#fff,#F58426);
  background-image: -o-linear-gradient(top,#fff,#F58426);
  background-image: linear-gradient(to bottom,#fff,#F58426);
  border-color: #F58426;
}

.yellow.google.button, .yellow.google.button:hover, .yellow.google.button:active {
  background-image: -webkit-linear-gradient(top,#fff,#D5E04D);
  background-image: -moz-linear-gradient(top,#fff,#D5E04D);
  background-image: -o-linear-gradient(top,#fff,#D5E04D);
  background-image: linear-gradient(to bottom,#fff,#D5E04D);
  border-color: #D5E04D;
}

.red.google.button, .red.google.button:hover, .red.google.button:active {
  background-image: -webkit-linear-gradient(top,#F15D22,#923C06);
  background-image: -moz-linear-gradient(top,#F15D22,#923C06);
  background-image: -o-linear-gradient(top,#F15D22,#923C06);
  background-image: linear-gradient(to bottom,#F15D22,#923C06);
  border-color: #923C06;
  color: #fff;
  text-shadow: none;
}

.green.google.button, .green.google.button:hover, .green.google.button:active {
  background-image: -webkit-linear-gradient(top,#fff,#79CA6B);
  background-image: -moz-linear-gradient(top,#fff,#79CA6B);
  background-image: -o-linear-gradient(top,#fff,#79CA6B);
  background-image: linear-gradient(to bottom,#fff,#79CA6B);
  border-color: #79CA6B;
}

.purple.google.button, .purple.google.button:hover, .purple.google.button:active {
  background-image: -webkit-linear-gradient(top,#CA006C,#7C0040);
  background-image: -moz-linear-gradient(top,#CA006C,#7C0040);
  background-image: -o-linear-gradient(top,#CA006C,#7C0040);
  background-image: linear-gradient(to bottom,#CA006C,#7C0040);
  border-color: #CA006C;
  color: #fff;
  text-shadow: none;
}
// End pending_apply_students page

// For sign up
span.prefix > i.large {
  font-size: 28px;
}

.user-info-card {
  @extend .main-border-info;
  @include border-radius(4px);
  padding-top: 10px;
  margin-left: 100px;
}

.user-info-card .zm-profile-header-main img {
  float: left;
}

.user-info-card .follow-num {
  height: 40px;
  width: 50px;
  margin-top: 9px;
}

.follow-num .font-follow {
  @extend .font-message;
  color: #999;
}

.zm-follow-header-info .edit-user-info {
  width: 80px;
  position: relative;
  left: 60%;
}
.zm-follow-header-info .edit-user-info a {
  font-size: 13px;
  @extend .font-message;
}

.zm-follow-header-info .edit-user-info a:hover {
  @extend .a-hover-underline;
}

.user-profile-item p {
  font-size: 15px;
}

.user-resume {
  margin-bottom: 20px;
}

.user-resume i {
  color: #999;
}

.user-info-card .pindan-num a:hover {
  @extend .a-hover-underline;
}

.user-info-state {
  @extend .main-border-info;
  @include border-radius(4px);
  min-height: 200px;
  margin-right: 100px;
}

.zm-profile-section-head h3 {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 20px;
}

.zm-profile-section-content {
  font-size: 15px;
  color: #999;
}

.zm-profile-section-empty {
  text-align: center;
  font-size: 14px;
  color: #999;
}

.controls input, textarea, .edit_user input {
  @include border-radius(4px);
}
// .tabbable .tabs {
//   @extend .border-line;
// }

.user-tabs{
  @extend .box-border;
  width: 280px;
  margin:20px auto;
}

.user-tabs li a
{
  width: 140px;
}

.auth-plain {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.left-solid {
margin-top: 0px;
margin-bottom: 0px;
}

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
}

.signup-panel a{
  color: #fff;
}

.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}
.signup-panel .button {
  /*margin-left: 35%;*/
}

.newusers {
  background: #fff;
}

.signup-panel p {
  font-size: 13px;
  font-weight: 200;
}

.signup-panel>a {
  margin-left:35%
}

.direct_message{
  margin-left: 13px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 20px;
}

.user-username > h4{
  display: inline-block;
}

.user-username > .vertical-center{
  margin-right: 2.0rem;
  font-size: 18px;
  line-height: 42px;
}


.user-profile-item {
    color: #999;
    span {
        color: #505050;
    }
}
