// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mini_avatar{
  width: 32px;
  height: 32px;
}

.tiny_avatar{
  width: 42px;
  height: 42px;
}

.super_tiny_avatar{
  width: 20px;
  height: 20px;
}

.thumb_avatar{
  width: 112px;
  height: 112px;
}

// Begin users index //

.item-wrapper {
  padding: 10px;
  border: 2px solid #efefef;
  border-radius: 7px;
  margin-top: 25px;
}
.item-wrapper p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}
.item-wrapper:hover .img-wrapper img {
  // -webkit-filter: grayscale(0);
}
.item-wrapper:hover .img-wrapper .add-to-cart {
  bottom: 0;
}

.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.img-wrapper .add-to-cart {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #333;
  padding: 16px 8px;
  bottom: -50px;
  position: absolute;
  z-index: 2;
  color: #fff;
  margin: 0 auto;
  border: none;
  box-shadow: none;
}
.img-wrapper .add-to-cart:hover {
  background-color: #008cba;
}
.img-wrapper img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  // -webkit-filter: grayscale(1);
  width: 100%;
}

// End users index //

.devise_logo {
  width: 100px;
  height: 41px;
}

// Begin pending_apply_students page
.google.button {
  padding: 6px 10px;
  -webkit-border-radius: 2px 2px;
  border: solid 1px rgb(153, 153, 153);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  line-height: 1;
}

.google.button.blue {
  border-color: rgb(98,202,227);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(98,202,227)));
}
// End pending_apply_students page

// For sign up
span.prefix > i.large {
  font-size: 28px;
}
