// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mini_avatar{
  width: 32px;
  height: 32px;
}

.tiny_avatar{
  width: 42px;
  height: 42px;
}

.super_tiny_avatar{
  width: 20px;
  height: 20px;
}

.thumb_avatar{
  width: 112px;
  height: 112px;
}

// Begin users index //

.item-wrapper {
  padding: 10px;
  border: 2px solid #efefef;
  border-radius: 7px;
  margin-top: 25px;
}
.item-wrapper p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}
.item-wrapper:hover .img-wrapper img {
  // -webkit-filter: grayscale(0);
}
.item-wrapper:hover .img-wrapper .add-to-cart {
  bottom: 0;
}

.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.img-wrapper .add-to-cart {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #333;
  padding: 16px 8px;
  bottom: -50px;
  position: absolute;
  z-index: 2;
  color: #fff;
  margin: 0 auto;
  border: none;
  box-shadow: none;
}
.img-wrapper .add-to-cart:hover {
  background-color: #008cba;
}
.img-wrapper img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  // -webkit-filter: grayscale(1);
  width: 100%;
}

// End users index //

.devise_logo {
  width: 100px;
  height: 41px;
}

// Begin pending_apply_students page
.google.button {
  padding: 6px 10px;
  -webkit-border-radius: 2px 2px;
  border: solid 1px rgb(153, 153, 153);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  line-height: 1;
}

.blue.google.button, .blue.google.button:hover, .blue.google.button:active {
  background-image: -webkit-linear-gradient(top,#fff,#62CAE3);
  background-image: -moz-linear-gradient(top,#fff,#62CAE3);
  background-image: -o-linear-gradient(top,#fff,#62CAE3);
  background-image: linear-gradient(to bottom,#fff,#62CAE3);
  border-color: #62CAE3;
}

.orange.google.button, .orange.google.button:hover, .orange.google.button:active {
  background-image: -webkit-linear-gradient(top,#fff,#F58426);
  background-image: -moz-linear-gradient(top,#fff,#F58426);
  background-image: -o-linear-gradient(top,#fff,#F58426);
  background-image: linear-gradient(to bottom,#fff,#F58426);
  border-color: #F58426;
}

.red.google.button, .red.google.button:hover, .red.google.button:active {
  background-image: -webkit-linear-gradient(top,#F15D22,#923C06);
  background-image: -moz-linear-gradient(top,#F15D22,#923C06);
  background-image: -o-linear-gradient(top,#F15D22,#923C06);
  background-image: linear-gradient(to bottom,#F15D22,#923C06);
  border-color: #923C06;
  color: #fff;
  text-shadow: none;
}

.green.google.button, .green.google.button:hover, .green.google.button:active {
  background-image: -webkit-linear-gradient(top,#fff,#D5E04D);
  background-image: -moz-linear-gradient(top,#fff,#D5E04D);
  background-image: -o-linear-gradient(top,#fff,#D5E04D);
  background-image: linear-gradient(to bottom,#fff,#D5E04D);
  border-color: #D5E04D;
}

.purple.google.button, .purple.google.button:hover, .purple.google.button:active {
  background-image: -webkit-linear-gradient(top,#CA006C,#7C0040);
  background-image: -moz-linear-gradient(top,#CA006C,#7C0040);
  background-image: -o-linear-gradient(top,#CA006C,#7C0040);
  background-image: linear-gradient(to bottom,#CA006C,#7C0040);
  border-color: #CA006C;
  color: #fff;
  text-shadow: none;
}
// End pending_apply_students page

// For sign up
span.prefix > i.large {
  font-size: 28px;
}
