// Begin Wish index
.quote.panel.callout {
  margin-left: 0.75rem;
}

.quote p {
  font-weight: 300;
}

.quote:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 18px 0 18px;
  border-color: #ecfaff transparent transparent transparent;
  position: relative;
  top: 61px;
  left: 20px;
}

.student {
  margin-left: 42px;
  margin-bottom: 80px;
}
.student .photo {
  background-color: #ccc;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 15px;
  overflow: hidden;
}
.student p {
  position: relative;
  top: 5px;
}
.student p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.student p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}
// End Wish index 

.span_callout {
  color: #ECFAFF;
}

// for star wish
.orange {
  color: #feb902!important;
}

.green {
  color: #69aa46!important;
}

p.wish-username {
  display: inline-block;
}

p.wish-updated_at {
  display: flex;
}
