<footer class="footer row" style="margin-top: 5rem;">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>© 2015 加盟说, Inc.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to '关于', page_path(:about) %></li>
          <!-- <li><%#= link_to '开发日志', page_path(:development) %></li> -->
          <li><%= link_to "联系我们", contact_new_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
